Repository IQSS/dataverse-client-javascript, pull requests merged in 2024-11, with the labels that each got.

#204 Adds UpdateCollection use case
  docs/useCases.md
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/UpdateCollection.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  test/environment/.env
  test/functional/collections/UpdateCollection.test.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/unit/collections/CollectionsRepository.test.ts
  test/unit/collections/UpdateCollection.test.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA.Q4.3, FY25 Sprint 8, FY25 Sprint 9

#215 Extend get collection use case
  src/collections/domain/dtos/CollectionDTO.ts
  src/collections/domain/models/Collection.ts
  src/collections/domain/models/CollectionContact.ts
  src/collections/domain/models/CollectionType.ts
  src/collections/infra/repositories/transformers/CollectionPayload.ts
  src/collections/infra/repositories/transformers/collectionTransformers.ts
  test/environment/.env
  test/integration/collections/CollectionsRepository.test.ts
  test/testHelpers/collections/collectionHelper.ts
Labels: Size: 3, GREI Re-arch, Original size: 3, SPA: Edit Collection Page, SPA.Q4.3, FY25 Sprint 10, FY25 Sprint 11

#220 197 compare dataset versions
  docs/useCases.md
  src/datasets/domain/models/DatasetVersionDiff.ts
  src/datasets/domain/repositories/IDatasetsRepository.ts
  src/datasets/domain/useCases/GetDatasetVersionDiff.ts
  src/datasets/index.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  src/datasets/infra/repositories/transformers/DatasetVersionDiffPayload.ts
  src/datasets/infra/repositories/transformers/datasetVersionDiffTransformers.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/integration/files/FilesRepository.test.ts
  test/testHelpers/datasets/datasetVersionDiffHelper.ts
  test/testHelpers/files/filesHelper.ts
  test/unit/datasets/GetDatasetVersionDiff.test.ts
Labels: Size: 3, SPA: Dataset View Page, GREI Re-arch, Original size: 3, SPA.Q4.10, FY25 Sprint 10, FY25 Sprint 11
