Repository IQSS/dataverse-client-javascript, pull requests merged in 2024-09, with the labels that each got.

#185 GetCollectionItems use case search text filtering
  docs/useCases.md
  jest.config.ts
  src/collections/domain/models/CollectionSearchCriteria.ts
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/GetCollectionItems.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/unit/collections/CollectionsRepository.test.ts
  test/unit/collections/GetCollectionItems.test.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch

#182 178 publish collection use case
  docs/useCases.md
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/PublishCollection.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  test/functional/collections/PublishCollection.test.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/unit/collections/PublishCollection.test.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch, FY25 Sprint 4, FY25 Sprint 5

#181 GetCollectionItems use case, for returning dataset, collection and file item types
  docs/useCases.md
  jest.config.ts
  src/collections/domain/models/CollectionItemSubset.ts
  src/collections/domain/models/CollectionItemType.ts
  src/collections/domain/models/CollectionPreview.ts
  src/collections/domain/models/CollectionSearchCriteria.ts
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/GetCollectionItems.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  src/collections/infra/repositories/transformers/CollectionPreviewPayload.ts
  src/collections/infra/repositories/transformers/collectionPreviewsTransformers.ts
  src/collections/infra/repositories/transformers/collectionTransformers.ts
  src/core/domain/models/PublicationStatus.ts
  src/datasets/domain/models/DatasetPreview.ts
  src/datasets/infra/repositories/transformers/DatasetPreviewPayload.ts
  src/datasets/infra/repositories/transformers/datasetPreviewsTransformers.ts
  src/files/domain/models/FilePreview.ts
  src/files/index.ts
  src/files/infra/repositories/transformers/FilePreviewPayload.ts
  src/files/infra/repositories/transformers/filePreviewTransformers.ts
  test/environment/docker-compose.yml
  test/functional/collections/GetCollectionItems.test.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/testHelpers/collections/collectionHelper.ts
  test/testHelpers/collections/collectionPreviewHelper.ts
  test/testHelpers/datasets/datasetPreviewHelper.ts
  test/testHelpers/files/filePreviewHelper.ts
  test/unit/collections/CollectionsRepository.test.ts
  test/unit/collections/GetCollectionItems.test.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch, FY25 Sprint 4, FY25 Sprint 5, FY5 Sprint 6

#192 fix: change the data type of isReleased to boolean
  src/collections/domain/models/Collection.ts
  src/collections/infra/repositories/transformers/CollectionPayload.ts
  test/testHelpers/collections/collectionHelper.ts
Labels: bug, Size: 3, GREI Re-arch, FY5 Sprint 6, SPA.Q3

#195 Deploy Alpha GitHub action
  .github/workflows/deploy_alpha.yml
  docs/installation.md
Labels: Size: 3, GREI Re-arch, SPA.Q3, FY25 Sprint 7, Original size: 3

#193 Api token management use cases
  docs/useCases.md
  src/core/infra/repositories/ApiRepository.ts
  src/users/domain/models/ApiTokenInfo.ts
  src/users/domain/repositories/IUsersRepository.ts
  src/users/domain/useCases/DeleteCurrentApiToken.ts
  src/users/domain/useCases/GetCurrentApiToken.ts
  src/users/domain/useCases/RecreateCurrentApiToken.ts
  src/users/index.ts
  src/users/infra/repositories/UsersRepository.ts
  src/users/infra/repositories/transformers/apiTokenInfoTransformers.ts
  test/environment/.env
  test/functional/users/DeleteCurrentApiToken.test.ts
  test/functional/users/GetCurrentApiToken.test.ts
  test/functional/users/RecreateCurrentApiToken.test.ts
  test/integration/users/UsersRepository.test.ts
  test/testHelpers/users/apiTokenHelper.ts
  test/unit/users/DeleteCurrentApiToken.test.ts
  test/unit/users/GetCurrentApiToken.test.ts
  test/unit/users/GetCurrentAuthenticatedUser.test.ts
  test/unit/users/RecreateCurrentApiToken.test.ts
Labels: Size: 3, GREI Re-arch, SPA: Account Page, FY5 Sprint 6, SPA.Q3.7, FY25 Sprint 7, Original size: 3
