Repository IQSS/dataverse-client-javascript, pull requests merged in 2024-02, with the labels that each got.

#119 115 - Create use case to get a file
  src/datasets/domain/useCases/GetDataset.ts
  src/datasets/domain/useCases/GetDatasetCitation.ts
  src/files/domain/models/FilesSubset.ts
  src/files/domain/repositories/IFilesRepository.ts
  src/files/domain/useCases/GetDatasetFileCounts.ts
  src/files/domain/useCases/GetDatasetFiles.ts
  src/files/domain/useCases/GetDatasetFilesTotalDownloadSize.ts
  src/files/domain/useCases/GetFile.ts
  src/files/index.ts
  src/files/infra/repositories/FilesRepository.ts
  src/files/infra/repositories/transformers/fileTransformers.ts
  src/metadataBlocks/infra/repositories/transformers/metadataBlockTransformers.ts
  test/integration/files/FilesRepository.test.ts
  test/testHelpers/files/filesHelper.ts
  test/unit/files/FilesRepository.test.ts
  test/unit/files/GetFile.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#112 Modify getDataset repository API call to use 'excludeFiles' parameter
  src/core/infra/repositories/ApiRepository.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/integration/environment/setup.js
  test/testHelpers/TestConstants.ts
  test/testHelpers/datasets/test-dataset-3.json
  test/unit/datasets/DatasetsRepository.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Dataset View Page

#114 Adds create dataset use case
  src/core/domain/useCases/validators/NewResourceValidator.ts
  src/core/domain/useCases/validators/errors/ResourceValidationError.ts
  src/datasets/domain/dtos/NewDatasetDTO.ts
  src/datasets/domain/models/CreatedDatasetIdentifiers.ts
  src/datasets/domain/repositories/IDatasetsRepository.ts
  src/datasets/domain/useCases/CreateDataset.ts
  src/datasets/domain/useCases/validators/BaseMetadataFieldValidator.ts
  src/datasets/domain/useCases/validators/MetadataFieldValidator.ts
  src/datasets/domain/useCases/validators/MultipleMetadataFieldValidator.ts
  src/datasets/domain/useCases/validators/NewDatasetResourceValidator.ts
  src/datasets/domain/useCases/validators/SingleMetadataFieldValidator.ts
  src/datasets/domain/useCases/validators/errors/ControlledVocabularyFieldError.ts
  src/datasets/domain/useCases/validators/errors/DateFormatFieldError.ts
  src/datasets/domain/useCases/validators/errors/EmptyFieldError.ts
  src/datasets/domain/useCases/validators/errors/FieldValidationError.ts
  src/datasets/index.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  src/datasets/infra/repositories/transformers/newDatasetTransformers.ts
  src/metadataBlocks/domain/models/MetadataBlock.ts
  src/metadataBlocks/infra/repositories/transformers/metadataBlockTransformers.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/integration/environment/setup.js
  test/testHelpers/datasets/newDatasetHelper.ts
  test/testHelpers/metadataBlocks/metadataBlockHelper.ts
  test/unit/datasets/CreateDataset.test.ts
  test/unit/datasets/DatasetsRepository.test.ts
  test/unit/datasets/NewDatasetResourceValidator.test.ts
  test/unit/datasets/newDatasetTransformers.test.ts
Labels: Size: 10, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Page

#125 117- Create use case to get the file citation
  src/files/domain/repositories/IFilesRepository.ts
  src/files/domain/useCases/GetFileCitation.ts
  src/files/index.ts
  src/files/infra/repositories/FilesRepository.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/integration/files/FilesRepository.test.ts
  test/unit/files/FilesRepository.test.ts
  test/unit/files/GetFileCitation.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: File Page

#118 New documentation for js-dataverse v2
  CONTRIBUTING.md
  README.md
  docs/installation.md
  docs/localDevelopment.md
  docs/useCases.md
  package-lock.json
  package.json
  src/datasets/domain/useCases/CreateDataset.ts
  src/datasets/domain/useCases/GetAllDatasetPreviews.ts
  src/datasets/domain/useCases/GetDataset.ts
  src/datasets/domain/useCases/GetDatasetCitation.ts
  src/datasets/domain/useCases/GetDatasetLocks.ts
  src/datasets/domain/useCases/GetDatasetSummaryFieldNames.ts
  src/datasets/domain/useCases/GetDatasetUserPermissions.ts
  src/datasets/domain/useCases/GetPrivateUrlDataset.ts
  src/datasets/domain/useCases/GetPrivateUrlDatasetCitation.ts
  src/datasets/infra/repositories/transformers/datasetTransformers.ts
  src/files/domain/models/FileCriteria.ts
  src/files/domain/repositories/IFilesRepository.ts
  src/files/domain/useCases/GetDatasetFileCounts.ts
  src/files/domain/useCases/GetDatasetFiles.ts
  src/files/domain/useCases/GetDatasetFilesTotalDownloadSize.ts
  src/files/domain/useCases/GetFile.ts
  src/files/domain/useCases/GetFileCitation.ts
  src/files/domain/useCases/GetFileDataTables.ts
  src/files/domain/useCases/GetFileDownloadCount.ts
  src/files/domain/useCases/GetFileUserPermissions.ts
  src/info/domain/useCases/GetDataverseVersion.ts
  src/info/domain/useCases/GetMaxEmbargoDurationInMonths.ts
  src/info/domain/useCases/GetZipDownloadLimit.ts
  src/metadataBlocks/domain/useCases/GetMetadataBlockByName.ts
  src/users/domain/useCases/GetCurrentAuthenticatedUser.ts
  test/testHelpers/datasets/datasetHelper.ts
Labels: Size: 10, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2

#128 Add datasetVersionId support in getFile use case
  src/datasets/domain/models/DatasetNotNumberedVersion.ts
  src/files/infra/repositories/FilesRepository.ts
  test/integration/files/FilesRepository.test.ts
  test/unit/files/FilesRepository.test.ts
  test/unit/files/GetFile.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: File Page

#124 121 - Modify GetAllDatasetPreviews use case to accept collectionId
  docs/useCases.md
  src/datasets/domain/repositories/IDatasetsRepository.ts
  src/datasets/domain/useCases/CreateDataset.ts
  src/datasets/domain/useCases/GetAllDatasetPreviews.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  src/datasets/infra/repositories/transformers/newDatasetTransformers.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/integration/environment/setup.js
  test/testHelpers/collections/test-collection-1.json
  test/unit/datasets/DatasetsRepository.test.ts
  test/unit/datasets/GetAllDatasetPreviews.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Collection Page

#127 122 - Extend dataset and file models to contain owner information
  src/core/domain/models/DvObjectOwnerNode.ts
  src/core/index.ts
  src/core/infra/repositories/transformers/OwnerNodePayload.ts
  src/core/infra/repositories/transformers/dvObjectOwnerNodeTransformer.ts
  src/datasets/domain/models/Dataset.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  src/datasets/infra/repositories/transformers/DatasetPayload.ts
  src/datasets/infra/repositories/transformers/datasetTransformers.ts
  src/files/domain/models/File.ts
  src/files/infra/repositories/FilesRepository.ts
  src/files/infra/repositories/transformers/FilePayload.ts
  src/files/infra/repositories/transformers/fileTransformers.ts
  test/integration/environment/.env
  test/testHelpers/datasets/datasetHelper.ts
  test/testHelpers/files/filesHelper.ts
  test/unit/datasets/DatasetsRepository.test.ts
  test/unit/files/FilesRepository.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Collection Page
