Repository IQSS/dataverse-client-javascript, pull requests merged in 2024-04, with the labels that each got.

#137 133 - Add publish dataset use case
  docs/useCases.md
  src/datasets/domain/models/Dataset.ts
  src/datasets/domain/repositories/IDatasetsRepository.ts
  src/datasets/domain/useCases/PublishDataset.ts
  src/datasets/index.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  test/environment/setup.ts
  test/functional/datasets/PublishDataset.test.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/testHelpers/TestConstants.ts
  test/testHelpers/datasets/test-dataset-4.json
  test/unit/datasets/DatasetsRepository.test.ts
  test/unit/datasets/PublishDataset.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Dataset View Page

#141 Get collection metadata blocks
  docs/useCases.md
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  src/core/infra/repositories/ApiRepository.ts
  src/datasets/domain/useCases/validators/MultipleMetadataFieldValidator.ts
  src/datasets/domain/useCases/validators/SingleMetadataFieldValidator.ts
  src/metadataBlocks/domain/models/MetadataBlock.ts
  src/metadataBlocks/domain/repositories/IMetadataBlocksRepository.ts
  src/metadataBlocks/domain/useCases/GetCollectionMetadataBlocks.ts
  src/metadataBlocks/index.ts
  src/metadataBlocks/infra/repositories/MetadataBlocksRepository.ts
  src/metadataBlocks/infra/repositories/transformers/MetadataBlockPayload.ts
  src/metadataBlocks/infra/repositories/transformers/metadataBlockTransformers.ts
  test/functional/metadataBlocks/GetCollectionMetadataBlocks.test.ts
  test/integration/metadataBlocks/MetadataBlocksRepository.test.ts
  test/testHelpers/datasets/newDatasetHelper.ts
  test/testHelpers/metadataBlocks/metadataBlockHelper.ts
  test/unit/metadataBlocks/GetCollectionMetadataBlocks.test.ts
  test/unit/metadataBlocks/GetMetadataBlockByName.test.ts
  test/unit/metadataBlocks/MetadataBlocksRepository.test.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2, SPA: Create Dataset Page

#147 139 add is released to get collection
  src/collections/domain/models/Collection.ts
  src/collections/infra/repositories/transformers/CollectionPayload.ts
  src/collections/infra/repositories/transformers/collectionTransformers.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/integration/files/FilesRepository.test.ts
  test/testHelpers/collections/collectionHelper.ts
Labels: Size: 3, pm.GREI-d-2.7.1, pm.GREI-d-2.7.2
