Repository IQSS/dataverse-client-javascript, pull requests merged in 2024-07, with the labels that each got.

#155 Adds create collection use case
  docs/useCases.md
  src/collections/domain/dtos/CollectionDTO.ts
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/CreateCollection.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  src/collections/infra/repositories/transformers/collectionTransformers.ts
  src/files/domain/useCases/AddUploadedFileToDataset.ts
  src/files/domain/useCases/UploadFile.ts
  test/functional/collections/CreateCollection.test.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/testHelpers/collections/collectionHelper.ts
  test/unit/collections/CollectionsRepository.test.ts
  test/unit/collections/CreateCollection.test.ts
Labels: Size: 3, GREI Re-arch, SPA: Create Collection Page

#162 Extended create collection use case
  docs/useCases.md
  src/collections/domain/dtos/CollectionDTO.ts
  src/collections/domain/models/Collection.ts
  src/collections/domain/repositories/ICollectionsRepository.ts
  src/collections/domain/useCases/GetCollectionFacets.ts
  src/collections/index.ts
  src/collections/infra/repositories/CollectionsRepository.ts
  src/collections/infra/repositories/transformers/CollectionPayload.ts
  src/collections/infra/repositories/transformers/collectionTransformers.ts
  test/functional/collections/GetCollectionFacets.test.ts
  test/integration/collections/CollectionsRepository.test.ts
  test/testHelpers/collections/collectionHelper.ts
  test/unit/collections/CollectionsRepository.test.ts
  test/unit/collections/GetCollectionFacets.test.ts
Labels: Size: 3, SPA: Collection Page, GREI Re-arch

#166 Support publish dataset with update current version
  .gitignore
  docs/useCases.md
  src/datasets/domain/models/Dataset.ts
  src/datasets/domain/useCases/PublishDataset.ts
  test/functional/datasets/PublishDataset.test.ts
  test/integration/datasets/DatasetsRepository.test.ts
Labels: Size: 3, SPA: Dataset View Page, GREI Re-arch, FY25 Sprint 2
