Repository IQSS/dataverse-client-javascript, pull requests merged in 2025-04, with the labels that each got.

#279 File Restrict Use Case Extension: enable access request and edit terms of access
  docs/useCases.md
  src/files/domain/dtos/RestrictFileDTO.ts
  src/files/domain/repositories/IFilesRepository.ts
  src/files/domain/useCases/RestrictFile.ts
  src/files/infra/repositories/FilesRepository.ts
  test/functional/files/RestrictFile.test.ts
  test/integration/files/FilesRepository.test.ts
  test/unit/files/RestrictFile.test.ts
Labels: Size: 3, SPA: File Page, GREI Re-arch, Original size: 3, SPA.Q1.6, FY25 Sprint 19, FY25 Sprint 20

#281 Fix: change the model of DatasetVersionDiff
  src/datasets/domain/models/DatasetVersionDiff.ts
  src/datasets/infra/repositories/transformers/DatasetVersionDiffPayload.ts
  test/testHelpers/datasets/datasetVersionDiffHelper.ts
Labels: bug, GREI Re-arch, SPA.Q1.2, FY25 Sprint 20

#286 Implement use case to Delete dataset
  docs/useCases.md
  src/datasets/domain/repositories/IDatasetsRepository.ts
  src/datasets/domain/useCases/DeleteDatasetDraft.ts
  src/datasets/index.ts
  src/datasets/infra/repositories/DatasetsRepository.ts
  test/functional/datasets/DeleteDatasetDraft.test.ts
  test/integration/datasets/DatasetsRepository.test.ts
  test/unit/datasets/DeleteDatasetDraft.test.ts
Labels: Size: 3, SPA: Edit Dataset Page, GREI Re-arch, Original size: 3, FY25 Sprint 21, SPA.Q2.10

#287 Update localDevelopment.md to explain how to run individual tests
  docs/localDevelopment.md
Labels: Size: 3, GREI Re-arch, Original size: 3, FY25 Sprint 21

#290 Add deaccession reason to version summary
  src/datasets/domain/models/DatasetVersionSummaryInfo.ts
  test/integration/datasets/DatasetsRepository.test.ts
Labels: Size: 3, SPA: Dataset View Page, GREI Re-arch, Original size: 3, FY25 Sprint 21, SPA.Q2

#285 Implement use case for editing tabular tags and categories
  docs/useCases.md
  src/files/domain/repositories/IFilesRepository.ts
  src/files/domain/useCases/UpdateFileCategories.ts
  src/files/domain/useCases/UpdateFileTabularTags.ts
  src/files/index.ts
  src/files/infra/repositories/FilesRepository.ts
  test/functional/files/UpdateFileCategories.test.ts
  test/functional/files/UpdateFileTabularTags.test.ts
  test/integration/files/FilesRepository.test.ts
  test/unit/files/UpdateFileCategories.test.ts
  test/unit/files/UpdateFileTabularTags.test.ts
Labels: Size: 3, SPA: File Page, GREI Re-arch, Original size: 3, SPA.Q1.6, FY25 Sprint 21, SPA.Q2
